.pad {
    padding: 0;
    border: none;
}
div {
    position: relative;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}
#Text {
    margin: auto;
    width: 720px;
    display: block;
}
#Game {
    float: left;
    padding: 0px 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background-color: #555555;
}
#Map {
    float: right;
    display: block;
    width: 880px;
}
#canvas {
    border: 2px solid black;
}
.left {
    float: left;
}
.right {
    float: right;
}
#Pics {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 800px;
    height: 500px;
}
img {
    position: absolute;
}
#formation {
    z-index: 1;
}
#tradeMap {
    position:static;
}
